div{
    height:200px;
    width:200px;
    text-align:center;
    background-color:antiquewhite;
    border:2px solid balck;
}
#box1{
    background-color:aquamarine;
    color:black;


}
#box1:hover{
    background-color:chocolate;
    color:blanchedalmond;
    transition-property:all;
    transition-duration:5s;
 
  
}
#box2:active{
    background-color:cornflowerblue;
    color:darkgoldenrod;
    transition-timing-function: steps(3);
    transition-delay:2s;
   
   
}
#box3:hover{
    background-color:darkmagenta;
    color:gold;
    transition:2s ease-in 2s;
}