
#box1{
    background-image:url("pic-1.jpeg");
    background-size:cover;
}

body{
    background-image:url("pic-2.jpeg");
    background-size:cover;
}




div
{ display:inline-block;
}

    #box1
{
   
    height:100px;
    width:100px;
    background-color:darkslateblue;
    position:static;
    right:550px;
    
}
#box2
{
    height:100px;
    width:100px;
    background-color:darkslategrey;
    position:relative;
    top:5px;
    bottom:20px;
    right:30px;
    left:5px;
}
#box3{
    height:100px;
    width:100px;
    background-color:rgb(149, 195, 21);
    position:absolute;
   top:2px;
   right:3px;
    /*bottom:2px;
    
    left:5px;*/
}
